@charset "UTF-8";
/* ----------- Константы ----------- */
:root {
  --basic-font-weight: 600;
  --title-font-weight: 400;
  --primary-color: #667777;
  --secondary-color: #677e51;
}

/* ----------- Цвета ----------- */
/* ----------- Стили шрифтов ----------- */
/* ----------- Привязанные шрифты ----------- */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Belleza";
  src: url("../fonts/Belleza-Regular.eot");
  src: local("Belleza Regular"), local("Belleza-Regular"), url("../fonts/Belleza-Regular.woff2") format("woff2"), url("../fonts/Belleza-Regular.woff") format("woff"), url("../fonts/Belleza-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Заголовки, на макете шрифты */
/* Жирные цифры */
/* Заголовки, на макете шрифт Belleza */
/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
.btn_solid_text_52 {
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 125%;
}
.btn_solid_text_52:hover {
  background-color: #677e51;
  border-style: none;
}
.btn_solid_text_52:active {
  background-color: #9bb96c;
}

/* ----------- Контейнеры-карточки ----------- */
.cart {
  padding: 3rem;
  padding-bottom: 6rem;
}
.cart__header {
  background-color: #f2f2f3;
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.cart__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.cart__btn-clear {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cart__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.02);
  width: 100%;
}
.cart__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
}
.cart__item img {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.cart__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart__title {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03rem;
  font-weight: 500;
  color: rgb(44, 21, 0);
}
.cart .cart__name {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}
.cart .cart__unit-price {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 1.5rem;
}
.cart__quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}
.cart__count {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--title-font-weight);
  font-size: 1rem;
  line-height: 150%;
  width: 5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  padding: 0 0.75rem;
  line-height: 2.5rem;
  background-color: #ffffff;
}
.cart__price-total {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1.5rem;
  line-height: 133%;
  margin-left: 1rem;
  white-space: nowrap;
}
.cart__delete {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
}
.cart__delete img {
  width: 1.25rem;
  height: 1.25rem;
}
.cart__promo {
  background-color: #f2f2f3;
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__promo .promo__input {
  width: 18.375rem;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid #f2f2f3;
  border-radius: 0.75rem;
  background-color: #ffffff;
}
.cart__promo .promo__btn {
  height: 2.5rem;
  padding: 0 1.5rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.cart__promo .promo__discount {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1.5rem;
  line-height: 133%;
}
.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.cart__total p,
.cart__total h3,
.cart__total .total__amount {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1.5rem;
  margin: 0;
}
.cart__delivery {
  background-color: #f2f2f3;
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.cart__delivery .form-label {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--title-font-weight);
  font-size: 1rem;
  line-height: 150%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.cart__delivery .cart__input {
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #f2f2f3;
  border-radius: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  width: 100%;
}
.cart__delivery .form__group-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.cart__delivery .form__group-row .half {
  width: 50%;
}
.cart__delivery .form__group-row .quarter {
  width: 25%;
}
.cart__btn-pay {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 125%;
  display: block;
  margin: 2rem auto 0;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.cart__empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 4rem 0;
}
.cart__empty-img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart__empty-text {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}
.cart .form__submit {
  text-align: center;
  margin-top: 2rem;
}/*# sourceMappingURL=cart.css.map */