@import 'design_system';

//форма отправки письма на почту

.title_email {
@include montserrat_regular_L;
color: $Black_00;
}

.text_email {
@include montserrat_regular_S;
color: rgba(0, 0, 0, 0.64);
}

.input_email {
box-sizing: border-box;
align-items: center;
padding: 0.75rem;
width: 15.5rem;
height: 2.5rem;
background: $White_00;
border: 0.0625rem solid $Grey_94;
border-radius: 0.75rem;
} 

.email_form {
  margin: 4.5rem 0;
}

#submit_form {
margin-left: 0.5rem;
width: 4rem;
height: 2.5rem;
background: $Black_01;
border-radius: 2.5rem;
}
