@import './design_system.scss';

.row {
  /*не работает*/
  background-color: ($Grey_02);
  border-radius: 1rem;
}

/*стили для красного placeholder */
input.is-invalid::placeholder {
  color: red !important;
  opacity: 1;
}

/* Стили для валидных полей */
.is-valid {
  border-color: #28a745 !important;
}

/* Стили для невалидных полей */
.is-invalid {
  border-color: #dc3545 !important;
}

/* Дополнительные стили для invalid-feedback */
.invalid-feedback {
  display: none;
  margin-top: 0.25rem;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}
