@charset "UTF-8";

/* ----------- Константы ----------- */

:root {
  --basic-font-weight: 600;
  --title-font-weight: 400;
}

/* ----------- Цвета ----------- */
$White_00: #ffffff;
$Grey_94: #f2f2f3;
$Grey_01: #d9d9d9;
$Grey_02: #b1b1b1;
$Grey_03: #667777;
$Green_96: #9bb96c;
$Green_Light_08: rgba(155, 185, 108, 0.08);
$Green_67: #677e51;
$Green_27: rgba(39, 174, 96, 0.2);
$Black_00: #000000;
$Black_01: #010101;
$Orange_00: #fa6c59;
$Border_d: #ddd;

/* ----------- Стили шрифтов ----------- */

/* ----------- Привязанные шрифты ----------- */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Belleza';
  src: url('../fonts/Belleza-Regular.eot');
  src: local('Belleza Regular'), local('Belleza-Regular'),
    url('../fonts/Belleza-Regular.woff2') format('woff2'),
    url('../fonts/Belleza-Regular.woff') format('woff'),
    url('../fonts/Belleza-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Заголовки, на макете шрифты */

@mixin title_Montserrat_regular {
  /* служебный миксин, его использовать не надо */
  font-family: 'Montserrat';
  font-weight: var(--title-font-weight);
}

@mixin montserrat_regular_L {
  @include title_Montserrat_regular;
  font-size: 1.5rem;
  line-height: 133%;
}

@mixin montserrat_regular_S_squashed {
  @include title_Montserrat_regular;
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin montserrat_regular_S {
  @include title_Montserrat_regular;
  font-size: 1rem;
  line-height: 150%;
}
/* Жирные цифры */

@mixin title_Montserrat_semi {
  /* служебный миксин, его использовать не надо */
  font-family: 'Montserrat';
  font-weight: var(--basic-font-weight);
}

@mixin montserrat_semi_L {
  @include title_Montserrat_semi;
  font-size: 1.5rem;
  line-height: 133%;
}

@mixin montserrat_semi_S {
  @include title_Montserrat_semi;
  font-size: 1rem;
  line-height: 125%;
}

/* Заголовки, на макете шрифт Belleza */

@mixin txt_title {
  /* служебный миксин, его использовать не надо */
  font-family: 'Belleza';
  font-weight: var(--title-font-weight);
  line-height: 110%;
  letter-spacing: -0.5px;
}

@mixin txt_title_80 {
  @include txt_title;
  font-size: 5rem;
  line-height: 5.5rem;
}

@mixin page_title_64 {
  @include txt_title;
  font-size: 4rem;
  line-height: 4.5rem;
}
@mixin page_title_48 {
  @include txt_title;
  font-size: 3rem;
  line-height: 3.5rem;
}
@mixin page_title_32 {
  @include txt_title;
  font-size: 2rem;
  line-height: 2.5rem;
}

/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */

@mixin container {
  max-width: 90rem;
  padding: 0 3rem;
  margin: 0 auto;
  @media (max-width: 1024px) {
    max-width: none;
    padding: 0 2rem;
  }
  @media (max-width: 480px) {
    padding: 0 1.5rem;
  }
}

/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
@mixin btn_text_52 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  @include montserrat_semi_S;
}
.btn_solid_text_52 {
  color: $White_00;
  background-color: $Black_00;
  &:hover {
    background-color: $Green_67;
    border-style: none;
  }
  &:active {
    background-color: $Green_96;
  }
  @include btn_text_52;
}

@mixin btn_size_36 {
  box-sizing: border-box;
  height: 2.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  @include montserrat_regular_S;
  border-radius: 1.5rem;
}

@mixin btn_textIcon_36 {
  //служебный миксин для 2-х видов кнопок
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0.125rem 1rem 0.125rem 0.125rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  @include montserrat_regular_S_squashed;
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    object-fit: cover;
  }
}

@mixin btn_size_36_circle {
  box-sizing: border-box;
  height: 2.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.125rem 1rem 0.125rem 0.125rem;
  @include montserrat_regular_S;
  border-radius: 1.5rem;
}

/* ----------- Контейнеры-карточки ----------- */
