@import './design_system.scss';



.container {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    gap:3rem;
}
.error-404 {
    margin-right: 16.3rem;
    max-width: 50%;
        @include title_Montserrat_regular;
        font-size: 1.5rem;
        line-height: 133%;
}
.error-500 {
    margin: 2rem;
    max-width: 50%;
        @include title_Montserrat_regular;
        font-size: 1.5rem;
        line-height: 133%;
}
h1 {
    margin: 0;
    color: $Grey_03;
    font-size: 8rem;
}
.text-404 {
    font-size: 1.5rem; 
}
.button-404 {
    margin-top: 2rem;
    padding: 0.6rem 1.3rem; 
    font-size: 2rem;
    background-color: $Green_67;
    border: none; 
    border-radius: 0.3rem; 
    cursor: pointer;
    @mixin btn_size_36 {
        box-sizing: border-box;
        height: 2.25rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        @include montserrat_regular_S;
        border-radius: 1.5rem;
    }
}
.button-404:hover {
    background-color: $Grey_03;
}
.error-image {
    max-width: 50%; 
    height: 38rem;
    display: block;
    margin: 0;
}
.error500-image {
    max-width: 45%; 
    height: 38rem;
    display: block;
    margin: 0;
}