@charset "UTF-8";
:root {
  /* ----------- Константы ----------- */
}

/* ----------- Цвета ----------- */
/* ----------- Стили шрифтов ----------- */
@font-face {
  font-family: "Montserrat";
  src: url("/public/assets/fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/public/assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("/public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/assets/fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("/public/assets/fonts/Montserrat-Regular.woff") format("woff"), url("/public/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Belleza";
  src: url("/public/assets/fonts/Belleza-Regular.eot");
  src: local("Belleza Regular"), local("Belleza-Regular"), url("/public/assets/fonts/Belleza-Regular.woff2") format("woff2"), url("/public/assets/fonts/Belleza-Regular.woff") format("woff"), url("/public/assets/fonts/Belleza-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Заголовки, на макете шрифты */
/* Жирные цифры */
/* Заголовки, на макете шрифт Belleza */
/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
/* ----------- Контейнеры-карточки ----------- */
.header {
  padding: 1rem;
  min-height: calc(20vh + 2rem);
  background-size: cover;
  background-color: #ffffff;
}
.header .header_nav {
  max-width: 90rem;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 8.5rem;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.125rem solid #f2f2f3;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .header .header_nav {
    max-width: none;
    padding: 0 2rem;
  }
}
@media (max-width: 480px) {
  .header .header_nav {
    padding: 0 1.5rem;
  }
}
.header .header_nav .header_nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.header .header_nav .header_nav_logo_icon {
  margin-bottom: 1rem;
}
.header .header_nav .header_nav_logo_text {
  height: 15%;
}
.header .header_nav .header_nav_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  width: 25%;
}
.header .header_nav .header_nav_buttons_plants, .header .header_nav .header_nav_buttons_services, .header .header_nav .header_nav_buttons_company {
  box-sizing: border-box;
  height: 2.25rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  border-radius: 1.5rem;
  font-size: 1.05rem;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header .header_nav .header_nav_buttons_plants:hover, .header .header_nav .header_nav_buttons_services:hover, .header .header_nav .header_nav_buttons_company:hover {
  background-color: #9BB96C;
  color: #ffffff;
  transition: background-color 0.2s;
}
.header .header_nav .header_nav_buttons_plants:active, .header .header_nav .header_nav_buttons_services:active, .header .header_nav .header_nav_buttons_company:active {
  background-color: #677E51;
  color: #ffffff;
}
.header .header_nav .header_nav_icons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 13%;
  cursor: pointer;
}
.header .header_nav .header_nav_icons button {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: #ffffff;
}
.header .searchContainer {
  display: none;
  position: fixed;
  padding: 1rem 0 1rem 1rem;
  top: 16%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-top: 0.125rem solid #f2f2f3;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0392156863);
  z-index: 1000;
}
.header .searchContainer .input-container {
  position: relative;
}
.header .searchContainer .input-container input {
  margin-left: 3rem;
  padding: 1rem;
  padding-right: 2rem;
  box-sizing: border-box;
  width: calc(100% - 10rem);
  height: 3.5rem;
  font-size: 1rem;
  border: 0.125rem solid #f2f2f3;
  border-radius: 0.75rem;
  color: var(--primary-color);
  outline: none;
}
.header .searchContainer .input-container input:focus {
  border: 0.125rem solid #9BB96C;
  background: #ffffff;
}
.header .searchContainer .input-container .clearButton {
  display: none;
  position: absolute;
  right: 8rem;
  top: 50%;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .searchContainer.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: 2s ease-in-out;
}

@media screen and (min-width: 1550px) {
  .header .header_nav {
    max-width: none;
    height: 10rem;
    width: 97%;
  }
  .header .header_nav_logo {
    justify-content: center;
    gap: 0.1rem;
    width: 15%;
  }
  .header .header_nav_logo_icon {
    height: 3.5rem;
    width: 3.7rem;
  }
  .header .header_nav_logo_text {
    height: 4.5rem;
    width: 5rem;
  }
  .header .header_nav_buttons {
    margin-left: 5rem;
    width: 30%;
  }
  .header .header_nav .header_nav_icons {
    width: 16%;
  }
  .header .searchContainer {
    padding: 1rem 0 1rem 1rem;
    top: 13%;
  }
  .header .searchContainer .input-container input {
    margin-left: 4rem;
    padding: 1rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding: 0;
  }
  .header .header_nav {
    height: 9rem;
    width: 97%;
  }
  .header .header_nav .header_nav_logo {
    gap: 0.3rem;
  }
  .header .header_nav .header_nav_buttons {
    margin-left: 3.5rem;
    width: 35%;
  }
  .header .header_nav .header_nav_icons {
    width: 16%;
  }
  .header .searchContainer .input-container input {
    height: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0;
  }
  .header .header_nav {
    height: 9rem;
    width: 100%;
  }
  .header .header_nav .header_nav_buttons {
    width: 40%;
  }
  .header .header_nav .header_nav_icons {
    gap: 0.4rem;
    width: 18%;
  }
  .header .searchContainer {
    top: 17%;
  }
  .header .searchContainer .input-container input {
    margin-left: 4.2rem;
    height: 2.8rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .header {
    padding: 0;
  }
  .header .header_nav {
    height: 9rem;
    width: 98%;
  }
  .header .header_nav .header_nav_buttons {
    margin-left: 1rem;
    width: 50%;
  }
  .header .searchContainer {
    top: 16%;
  }
  .header .searchContainer .input-container input {
    margin-left: 4.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 659px) {
  .header {
    padding: 0;
  }
  .header .header_nav {
    width: 99%;
  }
  .header .header_nav .header_nav_buttons {
    display: none;
  }
  .header .header_nav .header_nav_icons {
    width: 40%;
  }
  .header .searchContainer {
    top: 19%;
  }
  .header .searchContainer .input-container input {
    margin-left: 4rem;
    height: 2.5rem;
  }
}/*# sourceMappingURL=header.css.map */