@import 'design_system.scss';

.header{
    padding: 1rem;
    min-height: calc(20vh + 2rem);
    background-size: cover;

    background-color: ($White_00);

    .header_nav{
        @include container;

        display: flex;
        justify-content: space-between;

        position: fixed;
        top: 0;
        height: 8.5rem;
        width: 100%;
        z-index: 1000;
        
        border-bottom: 0.125rem solid $Grey_94;

        background-color: ($White_00);

        .header_nav_logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            &_icon{
                margin-bottom: 1rem;
            }

            &_text{
                height: 15%;
            }
        }

        .header_nav_buttons{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            margin-left: 5rem;
            width: 23%;

            &_plants, &_services, &_company{
                @include btn_size_36;
                font-size: 1.05rem;
                text-decoration: none;
                color: ($Black_00);

                cursor: pointer;
            }

            &_plants:hover, &_services:hover, &_company:hover{
                background-color: ($Green_96);
                color: ($White_00);
                transition: background-color 0.2s;
            }

            &_plants:active, &_services:active, &_company:active{
                background-color: ($Green_67);
                color: ($White_00);
            }
        }

        .header_nav_icons{
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 13%;

            cursor: pointer;

            & button{
                height: 1.5rem;
                width: 1.5rem;
                
                border: none;
                background-color: ($White_00);
            }
        }
    }

    .searchContainer {
        display: none;
        position: fixed;
        padding: 1rem 0 1rem 1rem;
        top: 16%;
        left: 0;
        right: 0;

        background-color: ($White_00);
        border-top: 0.125rem solid $Grey_94;
        box-shadow: 0px 4px 8px 0px #0000000A;
        z-index: 1000;

        .input-container{
            position: relative;

            input {
                margin-left: 3rem;
                padding: 1rem;
                padding-right: 2rem;
                box-sizing: border-box;
        
                width: calc(100% - 10rem);
                height: 3.5rem;
        
                font-size: 1rem;
                border: 0.125rem solid $Grey_94;
                border-radius: 0.75rem;
                color: var(--primary-color);
                outline: none;
            }

            input:focus {
                border: 0.125rem solid $Green_96;
                background: $White_00;
            }

            .clearButton {
                display: none;
                position: absolute;
                right: 8rem;
                top: 50%;
                height: 1.5rem;
                width: 1.5rem;
                transform: translateY(-50%);

                cursor: pointer;
            }
        }
    }

    .searchContainer.show {
        display: block;
        opacity: 1;
        transform: translateY(0); 
        transition: 2s ease-in-out;
    }
}