@import 'design_system.scss';

.header{
    min-height: calc(20vh + 2rem);
    background-size: cover;

    background-color: ($White_00);

    .header__nav{
        @include container;
        max-width: 96rem;

        display: flex;
        justify-content: space-between;

        position: fixed;
        top: 0;
        height: 8.5rem;
        width: 100%;
        z-index: 1000;
        
        border-bottom: 0.125rem solid $Grey_94;

        background-color: ($White_00);

        .nav__logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            margin-left: 1rem;
            

            &-icon{
                height: 23%;
                margin-bottom: 0.9rem;
            }

            &-text{
                height: 15%;
            }
        }

        .nav__menu{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            margin-left: 5rem;
            width: 25%;
            list-style-type: none;

            &-plants, &-services, &-company{
                @include btn_size_36;

                margin-top: 1rem;

                font-size: 1.05rem;
                text-decoration: none;
                color: ($Black_00);

                cursor: pointer;
            }

            &-plants:hover, &-services:hover, &-company:hover{
                background-color: ($Green_96);
                color: ($White_00);
                transition: background-color 0.2s;
            }

            &-plants:active, &-services:active, &-company:active{
                background-color: ($Green_67);
                color: ($White_00);
            }
        }

        .nav__icons{
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 13%;

            cursor: pointer;

            & button{
                height: 1.5rem;
                width: 1.5rem;
                
                border: none;
                background-color: ($White_00);
            }

            .cart-link{
                color: $Black_00;
            }

            .cart-link:hover{
                color: $Green_96;
            }
        }
    }
}

.burger {
    display: none;
}

.header__popup {
    display: none;
}


.header__searchContainer {
    display: none;
    position: fixed;
    padding: 1rem 0 1rem 1rem;
    top: 16%;
    left: 0;
    right: 0;

    background-color: ($White_00);
    border-top: 0.125rem solid $Grey_94;
    box-shadow: 0 0.25rem 0.5rem 0 #0000000A;
    z-index: 1000;

    .input-container{
        position: relative;

        input {
            margin-left: 3rem;
            padding: 1rem;
            padding-right: 2rem;
            box-sizing: border-box;
    
            width: calc(100% - 10rem);
            height: 3.5rem;
    
            font-size: 1rem;
            border: 0.125rem solid $Grey_94;
            border-radius: 0.75rem;
            color: var(--primary-color);
            outline: none;
        }

        input:focus {
            border: 0.125rem solid $Green_96;
            background: $White_00;
        }

        .clearButton {
            display: none;
            position: absolute;
            right: 8rem;
            top: 50%;
            height: 1.5rem;
            width: 1.5rem;
            transform: translateY(-50%);

            cursor: pointer;
        }
    }
}

.header__searchContainer.show {
    display: block;
    opacity: 1;
    transform: translateY(0); 
    transition: 2s ease-in-out;
}


.cart-link{
    position: relative;
}

.cart-count{
    @include montserrat_semi_S;

    display: none;
    position: absolute;
    left: 0.8rem;
    bottom: 1rem;
    width: 0.9rem;
    height: 0.9rem;
    z-index: 100;

    border-radius: 0.25rem;
    background-color: $Orange_00;
    color: $White_00;

    text-align: center;
    font-size: 0.7rem;
}

.cart-count:hover{
    background-color: $White_00;
    color: $Black_00;
    border: 0.125rem solid var(--secondary-color);
}


// Адаптив:
@media screen and (min-width: 1550px) {
    .header{
        .header__nav{
            max-width: none;
            height: 10rem;
            width: 97%;

            .nav__logo{
                justify-content: center;
                gap: 0.1rem;
                width: 15%;

                &-icon{
                    height: 3.5rem;
                    width: 3.7rem;
                }

                &-text{
                    height: 4.5rem;
                    width: 5rem;
                }
            }

            .nav__menu{
                margin-left: 5rem;
                width: 30%;
            }

            .nav__icons{
                width: 16%;
            }
        }

        .header__searchContainer {
            padding: 1rem 0 1rem 1rem;
            top: 13%;

            .input-container{
                input {
                    margin-left: 4rem;
                    padding: 1rem;

                    height: 4rem;
                }
            }
        }
    }
}

@media screen and (min-width: 911px) and (max-width: 1279px) {
    .header{
        padding: 0;

        .header__nav{
            height: 12.9rem;
            width: 97%;

            .nav__logo{
                gap: 0.3rem;

                &-icon{
                    height: 16%;
                }
            }

            .nav__menu{
                margin-left: 3.5rem;
                width: 35%;
            }
    
            .nav__icons{
                width: 14%;
            }
        }
    
        .header__searchContainer {
            top: 15%;
            .input-container{
                input {
                    margin-left: 5rem;
                    height: 3.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 910px) {
    .header{
        padding: 0;

        .header__nav{
            height: 11.3rem;
            width: 98%;

            .nav__logo{
                &-icon{
                    height: 16%;
                }
            }

            .nav__menu{
                margin: 0 0 1rem 0;
                width: 47%;
            }

            .nav__icons{
                width: 18%;
            }
        }

        .header__searchContainer {
            top: 15%;

            .input-container{
                input {
                    margin-left: 4.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .header{
        padding: 0;

        .header__nav{
            height: 10rem;
            width: 98%;

            .nav__logo{
                &-icon{
                    height: 18%;
                }
            }

            .nav__menu{
                margin: 0 0 1rem 0;
                width: 47%;
            }

            .nav__icons{
                width: 16%;
            }
        }

        .header__searchContainer {
            top: 16.5%;

            .input-container{
                input {
                    margin-left: 4.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 424px) {
    .header{
        padding: 0;

        .header__nav{
            height: 11.2rem;
            width: 98%;

            .nav__logo{
                &-icon{
                    height: 17%;
                }
            }
        }

        .header__searchContainer {
            top: 14.9%;

            .input-container{
                input {
                    margin-left: 4.5rem;
                }
            }
        }
    }
}

//Бургер:
@media screen and (min-width: 150px) and (max-width: 639px){
    .header{
        padding: 0;

        .header__nav{
            .burger {
                display: flex;
                align-items: center;
            }

            .burger__field {
                cursor: pointer;
            }

            .bar {
                display: block;
                margin: 0.37rem auto;

                width: 1.8rem;
                height: 0.18rem;
                background-color: ($Black_00);
                transition: 0.3s;
            }

            .nav__logo{
                margin-left: 4rem;
            }

            .nav__menu{
                display: none;
            }

            .nav__icons{
                width: 40%;
            }
        }
    }

    .header__popup {
        display: flex;
        position: fixed;
        top: 6rem;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 1000;

        background-color: $White_00;
        border-top: 0.125rem solid $Grey_94;
        transition: 0.4s;
    }

    .header__popup.open {
        left: 0;
    }
    
    .header__popup .nav__menu {
        width: 100%;
        height: 100%;

        padding: 3.125rem 0;
        overflow: auto;
    }
    
    .header__popup .nav__menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .header__popup .nav__menu > li > a {
        @include btn_size_36;
        margin-bottom: 3rem;

        font-size: 1.1rem;
        color: ($Black_00);
        text-decoration: none;
    }
    
    .header__popup .nav__menu > li > a:hover {
        background-color: ($Green_96);
        color: ($White_00);
        transition: background-color 0.2s;
    }

    .header__popup .nav__menu > li > a:active{
        background-color: ($Green_67);
        color: ($White_00);
    }

    // Для эффекта анимации --> превращение бургера в крестик
    .burger__field.active .bar:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }
    .burger__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger__field.active .bar:nth-child(3) {
        transform: translateY(-0.56rem) rotate(-45deg);
    }
    
    body.noscroll {
        overflow: hidden;
    }
}
