@charset "UTF-8";
/* ----------- Константы ----------- */
:root {
  --basic-font-weight: 600;
  --title-font-weight: 400;
}

/* ----------- Цвета ----------- */
/* ----------- Стили шрифтов ----------- */
/* ----------- Привязанные шрифты ----------- */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Belleza";
  src: url("../fonts/Belleza-Regular.eot");
  src: local("Belleza Regular"), local("Belleza-Regular"), url("../fonts/Belleza-Regular.woff2") format("woff2"), url("../fonts/Belleza-Regular.woff") format("woff"), url("../fonts/Belleza-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Заголовки, на макете шрифты */
/* Жирные цифры */
/* Заголовки, на макете шрифт Belleza */
/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
.btn_solid_text_52 {
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: var(--basic-font-weight);
  font-size: 1rem;
  line-height: 125%;
}
.btn_solid_text_52:hover {
  background-color: #677e51;
  border-style: none;
}
.btn_solid_text_52:active {
  background-color: #9bb96c;
}

/* ----------- Контейнеры-карточки ----------- */
.container-hero {
  display: flex;
  align-items: stretch;
  height: 60vh;
  width: 100%;
}

.blok_1 {
  flex: 1;
  padding: 1.3rem;
  max-width: 50%;
}

.blok_2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: auto;
  flex-shrink: 0;
  margin-left: 12.5rem;
}

.image_blok_1 {
  margin-top: 1.3rem;
  margin: 1rem;
  width: 37.5rem;
}

h1 {
  font-size: 3.8rem;
  margin: 2.2rem;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 span {
  display: block;
}

.text_blok_1 {
  font-size: 1rem;
  margin: 1.6rem;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=service_hero_section.css.map */