@import './design_system.scss';


.container-hero {
    display: flex;
    align-items: stretch; 
    height: 60vh;
    width: 100%;
}
.blok_1 {
    flex: 1; 
    padding: 1.3rem;
    max-width: 50%;
    
}
.blok_2 {
    object-fit: cover; 
    width: 50%;
    height: auto;
    flex-shrink: 0;
    margin-left: 12.5rem;
}
.image_blok_1 {
    margin-top: 1.3rem;
    margin: 1rem;
    width: 37.5rem;
}
h1 {
    font-size: 3.8rem;
    margin: 2.2rem;
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat-Regular.eot');
        src: local('Montserrat Regular'), local('Montserrat-Regular'),
            url('../fonts/Montserrat-Regular.woff') format('woff'),
            url('../fonts/Montserrat-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
h1 span {
    display: block;
}
.text_blok_1 {
    font-size: 1rem;
    margin: 1.6rem;
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat-Regular.eot');
        src: local('Montserrat Regular'), local('Montserrat-Regular'),
            url('../fonts/Montserrat-Regular.woff') format('woff'),
            url('../fonts/Montserrat-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}